  body {
   padding-left: 11em;
   font-family: Roboto, sans-serif;
		  color: rgb(78, 49, 23);
    background: linear-gradient(rgb(255, 255, 255), rgb(165, 218, 246));
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 50px;
  } 
	 ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
	position: absolute;
    top: 2em;
    left: 1em;
    width: 10em 
  }
	h1 {
    font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif 
  }
		ul.navbar li {
    background: white;
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em groove rgb(165, 218, 246)
  }
  ul.navbar a {
    text-decoration: none 
  }
  a:link {
    color: rgb(34, 58, 118) 
  }
  a:visited {
    color: rgb(32, 77, 68) 
  }
	address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted;
  }
  a.box_link {
    color: white;
  }
